body{
    background: #f7f7f7;
}
.index-top{
    width: 100%;
    height: 80px;
    background: #c21a00;
    min-width: 1200px;
}
.index-top .ke-grid{
    height: 100%;
}
.logo, .menu, .search{
    display: inline-block;
    font-size: 0;
    height: 80px;
    float: left;
    line-height: 80px;
}
.logo{
    margin-right: 55px;
}
.logo img{
    margin-top: 20px;
    display: block;
    height: 44px;
    width: 178px;
}
.menu{
    font-size: 0;
    height: 100%;
    line-height: 100%;
}
.menu li{
    display: inline-block;
    width: 100px;
}
.menu li a{
    display: block;
    color: #f5f5f5;
    font-size: 18px;
    text-align: center;
    height: 80px;
    line-height: 80px;
}
.search{
    float: right;
}
.search input{
    width: 220px;
    height: 20px;
    line-height: 20px;
    border-radius: 4px 0 0 4px;
    border: none;
    color: #999999;
    font-size: 14px;
    padding: 10px;
}
.search button{
    width: 40px;
    height: 40px;
    padding: 10px 0;
    border-radius: 0 4px 4px 0;
    float: right;
    margin-top: 15px;
    border: none;
    background: url("../img/search.png") center no-repeat  #e6e6e6;
    background-size: 20px 20px;
}
.list-choose{
    margin: 20px auto;
    border: 1px solid #f0f0f0;
    overflow: hidden;
    border-radius: 4px;
    background: #fafafa;
}
.list-item{
    border-bottom: 1px solid #f0f0f0;
}
.list-item .item-left{
    width: 130px;
    height: 50px;
    text-align: center;
    font-size: 14px;
    color: #808080;
    background: #fafafa;
    line-height: 50px;
    float: left;
}
.item-right{
    width: 1069px;
    background: #fff;
    float: right;
    border-left: 1px solid #f0f0f0;
}
.item-right li{
    display: inline-block;
    margin-left: 25px;
}
.item-right li a{
    cursor: pointer;
    display: block;
    width: 100%;
    height: 24px;
    color: #808080;
    font-size: 14px;
    line-height: 26px;
    padding: 5px 10px;
    text-align: center;
    border-radius: 4px;
    margin: 7px 0;
}
.item-right .active{
    background:#c21a00;
    color: #fff;
}
.list-min{
    margin-right: -20px;
}
.list-min-item{
    padding: 20px;
    background: #fff;
    width: 550px;
    margin: 0 20px 20px 0;
    float: left;
    border-radius: 4px;
}
.list-min-item img{
    width: 205px;
    height: 155px;
    float: left;
}
.list-min-desc{
    padding-left: 225px;
}
.list-min-desc .title{
    color:#1a1a1a;
    font-size: 20px;
    height: 47px;
    overflow: hidden;
    line-height: 25px;
}
.list-pic .pic em{
    font-size: 36px;
    color: #c21a00;
}
.list-pic .pic i{
     color: #c21a00;
 }
.list-pic .pic {
   margin-top: 27px;
}
.list-pic .time {
    margin-top: 22px;
}
.list-pic {
    font-size: 14px;
    color: #4c4c4c;
}
.goods-sure li{
    width: 33%;
    font-size: 0;
    display: inline-block;
}
.goods-sure li img{
    display: block;
    float: left;
}
.goods-desc{
    padding-left: 85px;
}
.goods-desc h3{
    font-size: 24px;
    color: #1a1a1a;
}
.goods-desc p{
    font-size: 14px;
    margin-top: 18px;
    color: #4c4c4c;
}
.goods-sure{
    margin-top: 10px;
    border-top:2px solid  #c21a00;
    padding: 44px 0;
}
.foot{
    background: #eaeaea;
    border-top: 2px solid #848484;
    width: 100%;
    min-width: 1200px;
    padding: 50px 0 0 0;
}
.foot-massage{
    font-size: 14px;
    color: #4c4c4c;
    text-align: center;
    width: 100%;
    background: #ffffff;
    min-width: 1200px;
    height: 35px;
    line-height: 35px;
}
.foot-list .foot-item{
    width: 90px;
    display: block;
    float: left;
    margin-right: 90px;
}
.foot-list .foot-item h3{
    font-size: 18px;
    color: #1a1a1a;
    margin-bottom: 20px;
}
.foot-list .foot-item a{
    font-size: 14px;
    color: #4c4c4c;
    margin-bottom: 15px;
    display: block;
}
.foot-list{
    padding-bottom: 40px;
}
.foot-item ul{
    list-style: disc;
    padding-left: 20px;
    color: #4c4c4c;
}
.foot-item p{
    width: 106px;
}
.ecode{
    width: 139px;
    height: 139px;
    position: absolute;
    top: 0;
    right: 0;
}
.ecode img{
    width: 139px;
    height: 139px;
}
.ecode p{
    color: #4c4c4c;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
}
.foot-min{
    position: relative;
}
.slider .swiper-container img{
    width: 100%;
    min-width: 1200px;
    height: 386px;
}
.slider{
    width: 100%;
    min-width: 1200px;
    margin-bottom: 30px;
    position: relative;
}
.swiper-pagination-bullet-active{
    background:#c21a00!important;
}
.swiper-pagination-bullet{
    background:#fff;
}
.index-menu{
    position: absolute;
    left: 0;
    top: 0;
    width: 220px;
    background: #ab1700;
    z-index: 100;
    height: 386px;
    overflow: hidden;
}
.index-menu-p{
    position: relative;
}
.index-menu li{
    border-bottom: 1px solid #b42f1a;
}
.index-menu li a{
    display: block;
    padding: 0 20px;
    height: 42px;
    line-height: 42px;
}
.index-menu li a img{
    width: 20px;
    height: auto;
    float: left;
    margin-top: 15px;
}
.index-menu li a div{
    height: 42px;
    line-height: 42px;
    padding-left: 35px;
    color: #f5f5f5;
    font-size: 14px;
}
.index-menu li a div i{
    display: block;
    width: 6px;
    height: 12px;
    float: right;
    margin-top: 15px;
    background: url("../img/go.png") no-repeat center;
}
.index-biao{
    margin: 30px auto 20px auto;
    border-bottom: 2px solid #c21a00;
}
.index-biao img{
    height: 30px;
    margin-bottom: 15px;
}
.index-top .active{
    background: #ab1700;
}
.court-home{
    margin: 30px auto;
}
.court-home img{
    height: 100px;
    width: 100px;
    display: block;
    border-radius: 50%;
    float: left;
}
.court-home .court-desc{
    padding-left: 127px;
}
.court-home .court-desc h2{
    font-size: 18px;
    color: #1a1a1a;
    margin: 25px 0;
}
.court-home .court-desc p{
    font-size: 12px;
    color: #666;
}
.court-home .court-desc i{
    display: block;
    width: 20px;
    height: 15px;
    background: url("../img/paper.png") center no-repeat;
    background-size: 13px auto;
    float: left;
    margin-right: 5px;
}
.court-url{
    height: 48px;
    line-height: 48px;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
    background: #fff;
}
.court-url li{
    width: 120px;
    display: inline-block;
    height: 100%;
    text-align: center;
}
.court-url li a{
    font-size: 12px;
    color: #4c4c4c;
}
.court-url .active{
    color: #c21a00;
    border-bottom: 2px solid #c21a00;
}
.notice-item{
    background: #fff;
    width: 590px;
    float: left;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
    margin: 20px 20px 0 0;
}
.notice-item h3{
    color: #333;
    font-size: 18px;
    padding: 20px;
    border-bottom: 1px solid #f0f0f0;
}
.notice-desc{
    padding: 20px;
    position: relative;
}
.notice-desc p{
    font-size: 14px;
    color: #666;
    padding: 10px 0;
}
.notice-desc .more{
    color: #008dcf;
    font-size: 14px;
    position: absolute;
    right: 20px;
    bottom: 30px;
}
.notice-list{
    margin-right: -24px;
    margin-bottom: 30px;
}
.detial-min h1{
    font-size: 22px;
    color: #333;
    text-align: center;
    margin: 50px 0 40px 0;
}
.detail-time{
    text-align: center;
    font-size: 14px;
    color: #666666;
    padding-bottom: 40px;
    border-bottom: 1px solid #f0f0f0;
}
.detail-time p{
    display: inline-block;
    margin-right: 30px;
}
.center-min{
    padding-bottom: 100px;
}
.center-min p{
    margin-top: 20px;
    color: #333333;
    font-size: 14px;
    line-height: 25px;
    text-indent: 30px;
}
.abc{
    height: 55px;
    background: #fff;
    margin: 20px auto;
}
.abc span{
    font-size: 16px;
    color: #808080;
    padding: 20px;
    float: left;
    height: 16px;
    line-height: 16px;
}
.abc ul li{
    display: inline-block;
    line-height: 40px;
    width: 36px;
    height: 40px;
    text-align: center;
    font-size: 0;
}
.abc-list{
    width: 1080px;
    float: left;
    margin-top: 7px;
}
.abc ul li a{
    font-size: 16px;
    color: #333;
    display: block;
}
.abc-list .active{
    background: #c21a00;
    color: #fff;
    border-radius: 5px;
}
.abc-list .active a{
    color: #fff;
}
.city-abc{
    padding: 5px 20px;
    height: 40px;
    background: #fff;
}
.city-abc span{
    display: block;
    float: left;
    width: 64px;
    height: 40px;
    text-align: center;
    background: #c21a00;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    line-height: 40px;
    margin-right: 20px;
}
.city-name{
    line-height: 40px;
}
.city-name li{
    font-size: 16px;
    color: #333;
    display: inline-block;
}
.city-item{
    background: #f2f2f2;
    padding: 20px;
}
.city-item li{
    padding: 5px 0;
    border-bottom: 1px #d9d9d9 dashed;
}
.city-item span{
    font-size: 14px;
    color: #808080;
    display: inline-block;
    margin-right: 25px;
}
.city-item a{
    color: #333333;
    font-size: 14px;
    display: inline-block;
    margin-right: 50px;
    padding: 15px 0;
}
.city-list{
    margin-bottom: 20px;
}
.about-min{
    margin: 20px auto 30px auto;
    border-radius: 6px;
    border: 1px solid #e6e6e6;
    background: #fafafa;
}
.about-left{
    width: 250px;
    float: left;
}
.about-left .first-menu{
    height: 20px;
    padding: 21px 30px;
    display: block;
    background: url("../img/left.png")  #f0f0f0 220px center no-repeat;
    border-bottom: 1px solid #fafafa;
}
.about-left .active .first-menu{
    background: url("../img/down.png")  #c21a00 220px center no-repeat;
    color: #fff;
}
.secend-menu li{
    line-height: 50px;
    height: 60px;
    color: #c21a00;
    font-size: 14px;
}
.secend-menu li a{
    display: block;
    padding-left: 45px;
    border-bottom: 1px solid #ebebeb;
    height: 100%;
}
.link-active{
    color: #c21a00;
}
.secend-menu{
    display: none;
}
.about-left .active .secend-menu{
    display: block;
}
.page-word{
    padding: 20px;
    background: #fff;
    width: 909px;
    float: right;
    border-left: 1px solid #e6e6e6;
    min-height: 500px;
}
.page-word h1{
    font-size: 18px;
    color: #c21a00;
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
}
.page-message span{
    font-size: 18px;
    display: block;
    margin: 20px 0 25px 0;
    color: #333333;
}
.page-message p{
    font-size: 14px;
    color: #333333;
    line-height: 25px;
}
.page-message{
    margin-bottom: 30px;
}
.page-word input{
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    color: #a6a6a6;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    margin-top: 25px;
    display: block;
}
.feedback-title{
    width: 96%;
    padding: 0 2%;
}
.feedback-name{
    margin-right: 1%;
}
.feedback-name , .feedback-phone{
    width: 45%;
    padding: 0 2%;
    display: inline-block!important;
}
.feedback-word{
    display: block;
    border: 1px solid #e6e6e6;
    color: #a6a6a6;
    width: 96%;
    padding: 2%;
    height: 280px;
    border-radius: 4px;
    outline:none;
    margin-top: 25px;
}
.feedback-button{
    width: 125px;
    height: 45px;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    display: block;
    float: right;
    margin-top: 20px;
    background: #c21a00;
}
.feedback-code{
    width: 130px;
    float: right;
    margin-top: 20px!important;
    padding: 0 10px;
}
.feedback-image{
    width: 110px;
    height: 45px;
    margin: 20px;
    float: right;
}